{% extends ".pyproject.tmpl" %}

# vim:tw=0:ts=4:sw=4:et:norl:ft=toml
# Project: https://github.com/doblabs/click-hotoffthehamster#🪝

{%- block project_meta -%}

[tool.poetry]
name = "click-hotoffthehamster"
# CLICK/2023-11-11: Latest is "8.2.0.dev" aka 8.1.7~26 [ca5e1c3].
version = "0.0.0"
description = "Composable command line interface toolkit"
readme = "README.rst"
# Poretry: license, authors, maintainers must be strings.
license = "BSD-3-Clause"
maintainers = ["Pallets <contact@palletsprojects.com>"]
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
]

[tool.poetry.urls]
Donate = "https://palletsprojects.com/donate"
Documentation = "https://click.palletsprojects.com/"
Changes = "https://click.palletsprojects.com/changes/"
"Source Code" = "https://github.com/pallets/click/"
"Issue Tracker" = "https://github.com/pallets/click/issues/"
Chat = "https://discord.gg/pallets"
# For update-faithful-file file rendering:
repository = "https://github.com/doblabs/click-hotoffthehamster#🪝"

[tool.flit.module]
name = "click_hotoffthehamster"

[tool.flit.sdist]
include = [
    "docs/",
    "examples/",
    "requirements/",
    "tests/",
    "CHANGES.rst",
    "tox.ini",
]
exclude = [
    "docs/_build/",
]

# ISOFF/2023-11-11: Click's config. See EAPP's below.
#
#  [tool.pytest.ini_options]
#  testpaths = ["tests"]
#  filterwarnings = ["error"]
#
#  [tool.coverage.run]
#  branch = true
#  source = ["click_hotoffthehamster", "tests"]

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.mypy]
python_version = "3.8"
files = ["src/click_hotoffthehamster"]
show_error_codes = true
pretty = true
strict = true
local_partial_types = true
warn_unreachable = true

[[tool.mypy.overrides]]
module = [
    "colorama.*",
]
ignore_missing_imports = true

# ***

[tool.easy_as_pypi]
author = "Armin Ronacher <armin.ronacher@active-4.com>"
copy_years_owner = "2014-2023 Armin Ronacher"
coc_contact_email = "tallybark+doblabs -at- gmail.com"

# SAVVY/2023-11-11: Upstream Click uses Flit:
#   https://flit.pypa.io/en/stable/

{% endblock %}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{% block flake8_per_file_ignores -%}
    # noqa: F401: imported but unused
    "src/click_hotoffthehamster/__init__.py:F401",
{%- endblock %}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{# {% block isort_known_third_party -%}
 #     #
 # {%- endblock %}
 #}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{% block deps_test_fakers_and_factories -%}

# **** Fakers not needed.
{% endblock -%}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{% block docstyle_deps_doc8 -%}
# ISOFF/2023-11-11: Multiple Click Sphinx deps. require docutils (<0.19.0),
#                   except doc8 (1.1.1) depends on docutils (>=0.19,<0.21).
#  doc8 = ">=1.1.1"
{%- endblock %}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{#
    [tool.poetry.group.project_dist.dependencies]
#}

{%- block project_dist_dependencies -%}
# CXREF: ~/.kit/py/click-hotoffthehamster/requirements/build.txt

build = "^0.10.0"
    # via -r requirements/build.in
packaging = "^23.1"
    # via build
pyproject-hooks = "^1.0.0"
    # via build
{% endblock -%}

# ***

{#
    [tool.poetry.group.project_docs.dependencies]
#}

{%- block project_docs_dependencies -%}
# CXREF: ~/.kit/py/click-hotoffthehamster/requirements/docs.txt

alabaster = "^0.7.13"
    # via sphinx
babel = "^2.12.1"
    # via sphinx
certifi = "^2023.7.22"
    # via requests
charset-normalizer = "^3.2.0"
    # via requests
docutils = "^0.18.1"
    # via
    #   sphinx
    #   sphinx-tabs
idna = "^3.4"
    # via requests
imagesize = "^1.4.1"
    # via sphinx
jinja2 = "^3.1.2"
    # via sphinx
markupsafe = "^2.1.3"
    # via jinja2
packaging = "^23.1"
    # via
    #   pallets-sphinx-themes
    #   sphinx
pallets-sphinx-themes = "^2.1.1"
    # via -r requirements/docs.in
pygments = "^2.16.1"
    # via
    #   sphinx
    #   sphinx-tabs
requests = "^2.31.0"
    # via sphinx
snowballstemmer = "^2.2.0"
    # via sphinx
# sphinx = "^7.2.1"
sphinx = [
    {version = "^6.2.1", python = "~3.8"},
    {version = "^7.2.6", python = "^3.9"},
]
    # via
    #   -r requirements/docs.in
    #   pallets-sphinx-themes
    #   sphinx-issues
    #   sphinx-tabs
    #   sphinxcontrib-applehelp
    #   sphinxcontrib-devhelp
    #   sphinxcontrib-htmlhelp
    #   sphinxcontrib-log-cabinet
    #   sphinxcontrib-qthelp
    #   sphinxcontrib-serializinghtml
sphinx-issues = "^3.0.1"
    # via -r requirements/docs.in
sphinx-tabs = "^3.4.1"
    # via -r requirements/docs.in
# sphinxcontrib-applehelp = "^1.0.7"
sphinxcontrib-applehelp = [
    {version = "==1.0.4", python = "~3.8"},
    {version = "^1.0.7", python = "^3.9"},
]
    # via sphinx
# sphinxcontrib-devhelp = "^1.0.5"
sphinxcontrib-devhelp = [
    {version = "==1.0.2", python = "~3.8"},
    {version = "^1.0.5", python = "^3.9"},
]
    # via sphinx
# sphinxcontrib-htmlhelp = "^2.0.4"
sphinxcontrib-htmlhelp = [
    {version = "==2.0.1", python = "~3.8"},
    {version = "^2.0.4", python = "^3.9"},
]
    # via sphinx
sphinxcontrib-jsmath = "^1.0.1"
# sphinxcontrib-jsmath = [
#     {version = "==1.0.1", python = "~3.8"},
#     {version = "^1.0.1", python = "^3.9"},
# ]
    # via sphinx
sphinxcontrib-log-cabinet = "^1.0.1"
# sphinxcontrib-log-cabinet = [
#     {version = "==1.0.1", python = "~3.8"},
#     {version = "^1.0.1", python = "^3.9"},
# ]
    # via -r requirements/docs.in
# sphinxcontrib-qthelp = "^1.0.6"
sphinxcontrib-qthelp = [
    {version = "==1.0.3", python = "~3.8"},
    {version = "^1.0.6", python = "^3.9"},
]
    # via sphinx
# sphinxcontrib-serializinghtml = "^1.1.8"
sphinxcontrib-serializinghtml = [
    {version = "==1.1.5", python = "~3.8"},
    {version = "^1.1.8", python = "^3.9"},
]
    # via sphinx
urllib3 = "^2.0.4"
    # via requests
{% endblock -%}

# ***

{#
    [tool.poetry.group.project_test.dependencies]
#}

{%- block project_test_dependencies -%}
# CXREF: ~/.kit/py/click-hotoffthehamster/requirements/tests.txt

iniconfig = "^2.0.0"
    # via pytest
packaging = "^23.1"
    # via pytest
pluggy = "^1.2.0"
    # via pytest
pytest = "^7.4.0"
    # via -r requirements/tests.in
{% endblock -%}

# ***

{%- block project_custom_dependencies -%}
[tool.poetry.group.project_typing]
optional = true

[tool.poetry.group.project_typing.dependencies]
# CXREF: ~/.kit/py/click-hotoffthehamster/requirements/typing.txt

mypy = "^1.5.1"
    # via -r requirements/typing.in
mypy-extensions = "^1.0.0"
    # via mypy
nodeenv = "^1.8.0"
    # via pyright
pyright = "^1.1.323"
    # via -r requirements/typing.in
typing-extensions = "^4.7.1"
    # via mypy

[tool.poetry.group.project_dev]
optional = true

[tool.poetry.group.project_dev.dependencies]
# CXREF: ~/.kit/py/click-hotoffthehamster/requirements/dev.txt

build = "^0.10.0"
    # via pip-tools
cachetools = "^5.3.1"
    # via tox
cfgv = "^3.4.0"
    # via pre-commit
chardet = "^5.2.0"
    # via tox
# DUNNO/2023-11-11 19:18: How does Click have itself as a dependency?!
#  click = "^8.1.6"
    # via
    #   pip-compile-multi
    #   pip-tools
colorama = "^0.4.6"
    # via tox
distlib = "^0.3.7"
    # via virtualenv
filelock = "^3.12.2"
    # via
    #   tox
    #   virtualenv
identify = "^2.5.26"
    # via pre-commit
pip-compile-multi = "^2.6.3"
    # via -r requirements/dev.in
pip-tools = "^7.3.0"
    # via pip-compile-multi
platformdirs = "^3.10.0"
    # via
    #   tox
    #   virtualenv
pre-commit = "^3.3.3"
    # via -r requirements/dev.in
pyproject-api = "^1.5.4"
    # via tox
pyproject-hooks = "^1.0.0"
    # via build
pyyaml = "^6.0.1"
    # via pre-commit
toposort = "^1.10"
    # via pip-compile-multi
tox = "^4.9.0"
    # via -r requirements/dev.in
virtualenv = "^20.24.3"
    # via
    #   pre-commit
    #   tox
wheel = "^0.41.1"
    # via pip-tools
{% endblock -%}

# ***

{#
    [tool.poetry.dependencies]
 #}

{%- block project_dependencies -%}

# Re: markers:
# https://python-poetry.org/docs/dependency-specification/#using-environment-markers
colorama = { version = '^0.4.6', markers = "sys_platform == 'win32'" }
{% endblock -%}

# ***

# FIXME/2023-11-12 02:03: Need this for RTD to work (if you care about RTD):
#
# [tool.poetry.group.extras.dependencies]
# ... 
# pallets-sphinx-themes = "^2.1.1"
# ... 
# [tool.poetry.extras]
# ... 
# readthedocs = [ "tomli", "sphinx", "pallets-sphinx-themes" ]
